.farming-categories-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  overflow-x: auto; /* Enable horizontal scroll on small screens */
  white-space: nowrap;
  background-color: #cdff69;
}

.category-item {
  text-align: center;
  margin: 10px;
  flex: 0 0 auto;
}

.category-link {
  text-decoration: none;
  color: black;
}

.category-image {
  width: 80px;  /* Adjust the size of the images */
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
  
  border-radius: 50%;
}

.category-label {
  font-size: 14px;
  font-weight: 500;
}
